<md-toolbar color="primary">
  <span>Custom Toolbar</span>

  <span class="example-spacer"></span>
  <button md-button [mdMenuTriggerFor]="menu"><md-icon class="example-icon">menu</md-icon></button>
</md-toolbar>

<md-menu #menu="mdMenu">
  <button md-menu-item>Item 1</button>
  <button md-menu-item>Item 2</button>
</md-menu>
