/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";

body {
  padding: 2em 23em;
  background-color: azure;
}
